{{- if .Values.webhook.enabled }}
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ .Values.extension.name }}-shoot-validator
  labels:
    app.kubernetes.io/name: {{ .Values.extension.name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  annotations:
    # This annotation ensures the webhook configuration is injected with the
    # CA bundle from the cert-manager Certificate resource.
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ .Values.extension.name }}-webhook-cert
webhooks:
  - name: shoot-validator.{{ .Values.extension.name }}.extensions.gardener.cloud
    admissionReviewVersions:
      - v1
      - v1beta1
    clientConfig:
      service:
        name: {{ .Values.webhook.serviceName | default (printf "%s-webhook" .Values.extension.name) }}
        namespace: {{ .Release.Namespace }}
        path: /validate-shoot-traefik
        port: {{ .Values.webhook.port }}
    failurePolicy: Fail
    matchPolicy: Equivalent
    sideEffects: None
    timeoutSeconds: 10
    rules:
      - apiGroups:
          - core.gardener.cloud
        apiVersions:
          - v1beta1
        operations:
          - CREATE
          - UPDATE
        resources:
          - shoots
        scope: "*"
    # Only validate shoots that have the traefik extension configured
    objectSelector:
      matchLabels: {}
{{- end }}
